
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>


				<nav id="top_navigation">
					<div class="container">

						<a href="index-2.html">
							<%= image_tag("Logo-Elescon-illustrator.png", alt:"Elescon logo" , style:"overflow:hidden;")  %>
						</a>
						<ul id="nav_menu">
							<li id="nav_items1" onclick="window.location = 'services.html';">
								<div id="top_nav_txt" style="margin-left: 12px;">
									Nuestros
								</div>
								<div id="main_nav_txt" style="margin-left: 12px;">
									SERVICIOS
								</div>
								<div class="popup_menu" style="overflow: hidden; display: none;">
									<div id="popup_columns">
										<div id="popup_content">
											<div class="popup_title"><a id="heading" href="engineering.html">ENGINEERING</a></div>
											<a class="popup_link" href="custom_wireless_solutions.html">Custom Wireless Solutions<span id="right_marker">»<span></span></span></a> <span id="popup_txt">Specializing in design and engineering of reliable wireless communication infrastructure.</span>
	                                        <div id="popup_spacer">&nbsp;</div>
	                                        <a class="popup_link" href="wireless_coverage_solutions.html">Wireless Coverage Solutions <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>From concept through design, implementation, testing commissioning, and troubleshooting. </span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="architectual_engineering_solutions.html">Architectural &amp; Engineering Solutions <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Supporting telecommunications industry through design, analysis and reinforcement.</span>
										</div>
									</div>
									<div id="popup_columns">
										<div id="popup_content">
											<div class="popup_title"><a id="heading" href="field_operations.html">FIELD OPERATIONS</a></div>
											<a class="popup_link" href="field_operations_installation.html">Installation <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Comtech offers a variety of installation services to meet your needs. </span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="wireless_system_maintenance_repair.html">Wireless System Maintenance &amp; Repair <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Minimizes your downtime by offering fast, efficient repairs.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="technical_services.html">Technical Services <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>A variety of technical services, each delivered to the highest standard.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="voice_gps_services.html">Voice &amp; GPS Services <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Voice Radio Network Design, Installation, and more</span>
										</div>
									</div>
									<div id="popup_columns">
										<div id="popup_content">
											<div class="popup_title"><a id="heading" href="IT_services.html">IT SERVICES</a></div>
											<a class="popup_link" href="network_management.html">Network Management <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>World-class Network Operations Center infrastructure, management, and support.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="IT_managed_services.html">IT Managed Services <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Put the focus back on your business. Scalable service that grows as you grow.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="consulting.html">Consulting <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Professional services for your network architecture &amp; design, security and audits.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="software.html">Software <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Providing custom inventory management systems to software development.</span>
										</div>
									</div>
									<div id="popup_columns">
										<div id="popup_content">
											<div class="popup_title"><a id="heading" href="project_management.html">PROJECT MANAGEMENT</a></div>
											<a class="popup_link" href="project_management_services.html">Project Management <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>We identify, develop and manage projects with reliability and efficiency. </span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="construction_management.html">Construction Management <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Certified site inspections, Contractor management, Quality control, Scope management, and more. </span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="custom_project_management.html">Custom Management Solutions <span id="right_marker">»<span></span></span></a> <span id="popup_txt"><br>Tailored project management &amp; construction management services.</span>
										</div>
									</div>
									<br style="clear: both;">
								</div>
							</li>
							<li id="nav_items" onclick="window.location = 'industry_experience.html';">
								<div id="top_nav_txt" style="margin-left: 12px;">
									Experiencia en la
								</div>
								<div id="main_nav_txt" style="margin-left: 12px;">
									INDUSTRIA
								</div>
							</li>
							<li id="nav_items2" onclick="window.location = 'about_us.html';">
								<div id="top_nav_txt" style="margin-left: 12px;">
									Vea mas de
								</div>
								<div id="main_nav_txt" style="margin-left: 12px;">
									NOSOTROS
								</div>
								<div class="aboutus_menu" style="overflow: hidden; display: none;">
									<div id="popup_columns">
										<div id="popup_content">
											<div class="popup_title"><a id="heading" href="about_us.html">ABOUT US</a></div>
											<a class="popup_link" href="about_us.html">About Comtech <span id="right_marker">»<span></span></span></a><br>
											<span id="popup_txt">To provide results-driven telecommunications solutions with the highest level of quality, professionalism, and expertise.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="careers.html">Careers At Comtech <span id="right_marker">»<span></span></span></a><br>
											<span id="popup_txt">We strive to offer rewarding careers, with benefits and programs that go beyond our competitive wages.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="community_involvement.html">Community Involvement <span id="right_marker">»<span></span></span></a><br>
											<span id="popup_txt">Comtech is proud to support local community initiatives that make a difference.</span>
											<div id="popup_spacer">&nbsp;</div>
											<a class="popup_link" href="privacy_policy.html">Privacy Policy <span id="right_marker">»<span></span></span></a><br>
											<span id="popup_txt">Comtech privacy policy.</span>
										</div>
									</div>
									<div id="popup_columns">
										<div id="popup_content">
											<div class="popup_title"><a id="heading" href="careers.html#opportunities">CAREER OPPORTUNITIES</a></div>
																									<a class="popup_link" href="opportunitycd1a.html?id=161">Communication Technician <span id="right_marker">»<span></span></span></a><br>
							                            <span id="popup_txt">Regina, SK</span>
							                            <div id="popup_spacer">&nbsp;</div>
												       														<a class="popup_link" href="opportunity2497.html?id=160">Tower Climber <span id="right_marker">»<span></span></span></a><br>
							                            <span id="popup_txt">Surrey, BC</span>
							                            <div id="popup_spacer">&nbsp;</div>
												       														<a class="popup_link" href="opportunitya7a0.html?id=158">Sales Account Executive <span id="right_marker">»<span></span></span></a><br>
							                            <span id="popup_txt">Surrey, BC</span>
							                            <div id="popup_spacer">&nbsp;</div>
												       														<a class="popup_link" href="opportunity3f91.html?id=157">Communication Technician  <span id="right_marker">»<span></span></span></a><br>
							                            <span id="popup_txt">Surrey, BC</span>
							                            <div id="popup_spacer">&nbsp;</div>
												       														<a class="popup_link" href="opportunityc7f4.html?id=156">Surrey, Nisku, Calgary - Labourer <span id="right_marker">»<span></span></span></a><br>
							                            <span id="popup_txt">Calgary, AB</span>
							                            <div id="popup_spacer">&nbsp;</div>
												       										</div>
									</div>
									<br style="clear: both;">
								</div>
							</li>
							<li id="nav_items" onclick="window.location = 'contact.html';">
								<div id="top_nav_txt" style="margin-left: 15px;">
									Mantengase en
								</div>
								<div id="main_nav_txt" style="margin-left: 15px;">
									CONTACTO
								</div>
							</li>
						</ul>
					</div>
				</nav>




			  <script type='text/javascript'>//<![CDATA[
					$(window).ready(function(){
						$("#nav_items1").hoverIntent( makeTall, makeShort);
						$("#nav_items2").hoverIntent(makeTall2, makeShort2);
						function makeTall(){ $(".popup_menu").slideDown('slow'); }
		        		function makeShort(){ $(".popup_menu").slideUp('slow'); }
						function makeTall2(){ $(".aboutus_menu").slideDown('slow'); }
		        		function makeShort2(){ $(".aboutus_menu").slideUp('slow'); }

					});//]]>
			  </script>
