
<link rel="stylesheet" href="css/revolution-slider/css/settings.css" media="screen">

<div id="main">            <!-- Slider Start-->
          	<div class="row">
				<div class="welcome">
					Bienvenido a Elescon. Empresa especializada en la elaboración y ejecución de proyectos de construcción y telecomunicaciones.
          <span id="hl_text">Listo para iniciar su proyecto?</span>
				</div>
			</div>
            <div class="fullwidthbanner-container" style="overflow: visible;">
               <div class="fullwidthbanner rslider revslider-initialised tp-simpleresponsive" id="revslider-238" style="height: 440px;">
                  <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 470px;">
                     <!-- THE TURNKEY WIRELESS SLIDE -->


                     <li data-transition="fade" data-slotamount="1" data-masterspeed="100">
                        <%= image_tag("Turnkey_Slider.jpg", alt:"Turnkey Wireless Solutions") %>

                        <div class="caption large_text sft"
                           data-x="160"
                           data-y="104"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  >TURNKEY WIRELESS</div>
                         <div class="caption very_large_text sft"
                           data-x="220"
                           data-y="144"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  >SOLUTIONS</div>
                        <div class="caption small_text sft" style="border-top: rgba(255, 255, 255, 0.3) solid 2px; padding-top: 20px;"
                           data-x="220"
                           data-y="250"
                           data-speed="300"
                           data-start="800"
                           data-easing="easeOutExpo"  >All of your communication needs are just one call away.<br/>
                           Comtech's four divisions work seamlessly together to design and<br/>
                           implement reliable systems.</div>
                        <div class="caption lfb caption_button_2 fadeout tp-caption start"
                           data-x="220"
                           data-y="350"
                           data-speed="300"
                           data-endspeed="300"
                           data-start="800"
                           data-hoffset="70"
                           data-easing="easeOutExpo">
                           <a class="btn-special hidden-xs btn-color" href="services.html">Learn more</a>
                        </div>
                     </li>

                     <!-- THE ENGINEERING SLIDE -->
                     <li data-transition="fade" data-slotamount="1" data-masterspeed="300" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                        <div class="slotholder"><img src="images/Engineering_Slider.jpg" data-fullwidthcentering="on" alt="Engineering Solutions" class="defaultimg" style="width: 1356.16px; height: 440px; position: absolute; left: -130px; top: 0px; opacity: 0;"></div>
                        <div class="caption large_text sft tp-caption start" data-x="160" data-y="104" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 42px; padding: 0px; margin: 0px; border-width: 0px; line-height: 42px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 526.5px; top: 54px; visibility: visible;">ENGINEERING</div>
                         <div class="caption very_large_text sft tp-caption start" data-x="220" data-y="144" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 82px; padding: 0px; margin: 0px; border-width: 0px; line-height: 82px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 586.5px; top: 94px; visibility: visible;">SOLUTIONS</div>
                        <div class="caption small_text sft tp-caption start" style="border-width: 2px 0px 0px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.3); padding: 20px 0px 0px; font-size: 14px; margin: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 586.5px; top: 220px; visibility: visible;" data-x="220" data-y="270" data-speed="300" data-start="800" data-easing="easeOutExpo">We specialize in the design and Engineering of reliable<br>
                          							   wireless communication infrastructure - no matter how complex.</div>
                        <div class="caption lfb caption_button_2 fadeout tp-caption start" data-x="220" data-y="350" data-speed="300" data-endspeed="300" data-start="800" data-hoffset="70" data-easing="easeOutExpo" style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; line-height: 24px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 586.5px; top: 350px; visibility: visible;">
                           <a class="btn-special hidden-xs btn-color" href="engineering.html">Learn more</a>
                        </div>
                     </li>
                     <!-- THE FIELD OPERATIONS SLIDE -->
                     <li data-transition="fade" data-slotamount="1" data-masterspeed="300" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                        <div class="slotholder"><img src="images/Field_Operations_Slider.jpg" data-fullwidthcentering="on" alt="Field Operations" class="defaultimg" style="width: 1356.16px; height: 440px; position: absolute; left: -130px; top: 0px; opacity: 0;"></div>
                        <div class="caption large_text sft tp-caption start" data-x="160" data-y="104" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 39px; padding: 0px; margin: 0px; border-width: 0px; line-height: 39px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 149.875px; top: 47.3594px; visibility: visible;">FIELD </div>
                         <div class="caption very_large_text sft tp-caption start" data-x="220" data-y="144" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 77px; padding: 0px; margin: 0px; border-width: 0px; line-height: 77px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 206.078px; top: 84.7969px; visibility: visible;">OPERATIONS</div>
                        <div class="caption small_text sft tp-caption start" style="border-width: 2px 0px 0px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.3); padding: 19px 0px 0px; font-size: 13px; margin: 0px; line-height: 19px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 206.078px; top: 202.766px; visibility: visible;" data-x="220" data-y="270" data-speed="300" data-start="800" data-easing="easeOutExpo">Trust us for the installation, inspection, testing and maintenance<br>
                           								of communications towers; SCADA systems; radio networks and more.</div>
                        <div class="caption lfb caption_button_2 fadeout tp-caption start" data-x="220" data-y="350" data-speed="300" data-endspeed="300" data-start="800" data-hoffset="70" data-easing="easeOutExpo" style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 22px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 206.085px; top: 327.66px; visibility: visible;">
                           <a class="btn-special hidden-xs btn-color" href="field_operations.html">Learn more</a>
                        </div>
                     </li>
                     <!-- THE NETWORK OPERATIONS SLIDE -->
                     <li data-transition="fade" data-slotamount="1" data-masterspeed="300" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                        <div class="slotholder"><img src="images/IT_Services_Slider.jpg" data-fullwidthcentering="on" alt="IT Services" class="defaultimg" style="width: 1356.16px; height: 440px; position: relative; left: -130px; top: 0px; opacity: 0;"></div>
                        <div class="caption large_text sft tp-caption start" data-x="160" data-y="104" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 39px; padding: 0px; margin: 0px; border-width: 0px; line-height: 39px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 149.875px; top: 47.3594px; visibility: visible;">INFORMATION TECHNOLOGY </div>
                         <div class="caption very_large_text sft tp-caption start" data-x="220" data-y="144" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 77px; padding: 0px; margin: 0px; border-width: 0px; line-height: 77px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 206.078px; top: 84.7969px; visibility: visible;">SERVICES</div>
                        <div class="caption small_text sft tp-caption start" style="border-width: 2px 0px 0px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.3); padding: 19px 0px 0px; font-size: 13px; margin: 0px; line-height: 19px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 206.078px; top: 202.766px; visibility: visible;" data-x="220" data-y="270" data-speed="300" data-start="800" data-easing="easeOutExpo">Let our experienced specialists manage your resource intensive IT operations <br>so you focus on your core business. </div>
                        <div class="caption lfb caption_button_2 fadeout tp-caption start" data-x="220" data-y="340" data-speed="300" data-endspeed="300" data-start="800" data-hoffset="70" data-easing="easeOutExpo" style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 22px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 0; left: 206.085px; top: 318.298px; visibility: visible;">
                           <a class="btn-special hidden-xs btn-color" href="IT_services.html">Learn more</a>
                        </div>
                     </li>
                     <!-- THE PROJECT MANAGEMENT SLIDE -->
                     <li data-transition="fade" data-slotamount="1" data-masterspeed="300" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                        <div class="slotholder"><img src="images/Project_Management_Slider.jpg" data-fullwidthcentering="on" alt="Project Management" class="defaultimg" style="width: 1356.16px; height: 440px; position: relative; left: -130px; top: 0px; opacity: 1;"></div>
                        <div class="caption large_text sft tp-caption start" data-x="160" data-y="104" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 39px; padding: 0px; margin: 0px; border-width: 0px; line-height: 39px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 1; left: 149.88px; top: 97.3617px; visibility: visible;">PROJECT </div>
                         <div class="caption very_large_text sft tp-caption start" data-x="220" data-y="144" data-speed="300" data-start="800" data-easing="easeOutExpo" style="font-size: 77px; padding: 0px; margin: 0px; border-width: 0px; line-height: 77px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 1; left: 206.085px; top: 134.809px; visibility: visible;">MANAGEMENT</div>
                        <div class="caption small_text sft tp-caption start" style="border-width: 2px 0px 0px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.3); padding: 19px 0px 0px; font-size: 13px; margin: 0px; line-height: 19px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); opacity: 1; left: 206.085px; top: 252.766px; visibility: visible;" data-x="220" data-y="270" data-speed="300" data-start="800" data-easing="easeOutExpo">Get it done on-time, and on-budget. Comtech offers end-to-end project<br>
                           							   management for wireless deployments and construction projects. </div>
                        <div class="caption lfb caption_button_2 fadeout tp-caption start" data-x="220" data-y="350" data-speed="300" data-endspeed="300" data-start="800" data-hoffset="70" data-easing="easeOutExpo" style="opacity: 1; font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 22px; white-space: nowrap; min-width: 0px; min-height: 0px; transform: scale(1, 1) rotate(0deg); left: 206.085px; top: 327.66px; visibility: visible;">
                           <a class="btn-special hidden-xs btn-color" href="project_management.html">Learn more</a>
                        </div>
                     </li>
                  </ul>
               <div class="tp-loader" style="display: none;"></div><div class="tp-bannertimer" style="visibility: hidden; width: 58.8876%; overflow: hidden;"></div></div>
            <div style="position: absolute; top: 220px; margin-top: -30px; left: 0px; opacity: 0;" class="tp-leftarrow tparrows default"></div><div style="position: absolute; top: 220px; margin-top: -30px; right: 0px; opacity: 0;" class="tp-rightarrow tparrows default"></div></div>
            <!-- Slider End-->
            <!-- Slogan Start-->
            <!--
            <div id="page_nav_bg">
                <div class="container" id="page_nav_wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="col-lg-12" id="top_category">
                                    LATEST NEWS
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="col-lg-12" id="short_description">
                                    Sep 30 2014 | <span style="font-style: none;">Comtech Assists Carriers in Building a Neutral Host System in Montreal.</span>
                                    &nbsp;&nbsp;&nbsp;
                                    <a id="reg" href="/comtech_assists_carriers.php">
                                        <button class="btn btn-special btn-color">Learn more</button>
                                    </a>
                                </div>
                            </div>
                            <br style="clear: both;" />
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div id="news_line"></div>
            <div class="main-content">
                    <div class="container">
                            <div class="row" style="border-bottom: 1px solid #DDD;">
                    <div id="home_title">Industry leading telecommunication solutions</div><br>
            <p class="industry_txt">Comtech (Communication Technologies) Ltd. is an integrated communications company providing state-of-the-art network solutions. Comtech provides research and development, design, implementation, construction and maintenance services, ensuring exceptional quality, and high-performance networks. </p>
                                    <p class="industry_txt">Through four divisions, we provide high-quality cost-effective communications and consulting services for clients from diverse industries. These include: resource-based industries like oil and gas and mining; municipal and provincial governments; other telecom providers; and public and private clients of all sizes.</p>
                                    <br>
                                    <a id="reg" href="about_us.html"><button class="btn btn-special btn-color">Learn more</button></a>
                                    <br>
                                    <br>
                            </div>
                    </div>
            </div>
            <br>
            <!-- Slogan End-->
            <!-- Main Content start-->
            <div class="main-content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><a href="engineering.html"><i class="icon-gears"></i></a></div>
                                 <div class="ch-info-back">
                                    <a href="engineering.html"><i class="icon-gears"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Engineering</h3>
                              <br>
                              <div id="cs_selection">
                                 Comtech provides Engineering services throughout North America. Our team specializes in the design, Engineering, and optimization of wireless communication infrastructure, offering a high degree of specialization.
                              </div>
                              <a id="reg" href="engineering.html">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><a href="project_management.html"><i class="icon-sitemap"></i></a></div>
                                 <div class="ch-info-back">
                                    <a href="project_management.html"><i class="icon-sitemap"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Project Management</h3>
                              <br>
                              <div id="cs_selection">
                                Comtech offers end-to-end project management for both wired &amp; wireless deployments for on-site construction and installations.<br><br><br>
                              </div>

                              <a id="reg" href="project_management.html">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="content-box big ch-item bottom-pad-small">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><a href="field_operations.html"><i class="icon-wrench"></i></a></div>
                                 <div class="ch-info-back">
                                    <a href="field_operations.html"><i class="icon-wrench"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>Field Operations</h3>
                              <br>
                              <div id="cs_selection">
                                Trust Comtech with the installation, inspection, and repair of your communication towers. We are an experienced market leader, specializing in towers and antennas of nearly every size.
                              </div>

                              <a id="reg" href="field_operations.html">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="content-box big ch-item">
                           <div class="ch-info-wrap">
                              <div class="ch-info">
                                 <div class="ch-info-front ch-img-1"><a href="IT_services.html"><i class="icon-group"></i></a></div>
                                 <div class="ch-info-back">
                                    <a href="IT_services.html"><i class="icon-group"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="content-box-info">
                              <h3>IT Services</h3>
                              <br>
                              <div id="cs_selection">
                                We offer the best possible Help Desk experience, world-class Network Operations Center, specialized consulting professionals, and custom software development. <br><br>
                              </div>

                              <a id="reg" href="IT_services.html">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
            <br><br>
            <!-- Latest Posts start -->
            <div class="latest-posts">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-9 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title">Featured Service</h3>
                        <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1 animate_start">
                          	<div class="blog-showcase-thumb col-lg-4 col-md-12 col-sm-12">
                             	<div class="post-body">
                             		<img alt="Comtech IT Service NOC" src="images/noc_img.jpg">
                             	</div>
                          	</div>
                          	<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            	<h4><a href="network_management.html" class="title">Network Operations Center (NOC)</a></h4>
                            	<p>Let our experienced specialists manage your resource intensive IT operations so you focus on your core business.  We offer the best possible Help Desk experience, world-class Network Operations Center, specialized consulting professionals, and custom software development.  At Comtech our goal is to keep your IT operations positioned to respond to your business needs.</p>
                            	<div align="right"><a href="network_management.html"><button class="btn btn-special btn-color">Learn more</button></a></div>
                          	</div>
                       	  	<div class="clearfix"></div>
                     	</div>
                     </div>
                     <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">Our Benefits</h3>
                        <ul>
                        	<li class="bf_list">Control Your IT Costs</li>
                        	<li class="bf_list">Stay Focused on Your Core Business</li>
                        	<li class="bf_list">Scale your IT Team as Needed</li>
							<li class="bf_list">Maintain Compliance and Security</li>
							<li class="bf_list">Increase Your Service Levels</li>
                        </ul>
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <div class="divider"></div>
               </div>
            </div>
            <!-- Latest Posts End -->
            <br><br>
             <!-- Case Studies start-->
            <div class="recentworks bottom-pad">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 animate_afl d1 animate_start">
                        <div class="portfolio-desc">
                           <h3 class="title">Case Studies</h3>
                           <p>Comtech offers four complimentary divisions and a variety of services to meet your needs. Together, they can provide turn-key solutions. Here are case studies and success stories from some companies we have worked with.</p>
                        </div>
                     </div>
                     <div class="col-lg-9 col-md-9 col-xs-12">
                       <div id="portfolio-carousel" class="portfolio-carousel slide">
                          <div class="carousel-inner">
                             <div class="item active">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                   <div class="portfolio-item">
                                      <a href="YYC_Case_Study.html"><img src="images/YYC_airport_tunnel.jpg" alt="YYC Airport Tunnel"></a>
                                      <div class="portfolio-item-title">
                                         <a href="YYC_Case_Study.html">YYC Airport Tunnel</a>
                                         <p>
                                     BDA &amp; RADIAX Antenna System<br><br><a id="reg" href="YYC_Case_Study.html">Read more <i class="icon-double-angle-right"></i></a></p></div>
                                      <div class="clearfix"></div>
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                   <div class="portfolio-item">
                                      <a href="SaskTel_Case_Study.html"><img src="images/SaskTel_tmp.jpg" alt="SaskTel UMTS Cellular Network"></a>
                                      <div class="portfolio-item-title">
                                         <a href="SaskTel_Case_Study.html">SaskTel</a>
                                         <p>
                                         UMTS Cellular Network<br><br>
                                         <a id="reg" href="SaskTel_Case_Study.html">Read more <i class="icon-double-angle-right"></i></a>
                                           <br>
                                         </p>
</div>
                                      <div class="clearfix"></div>
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                   <div class="portfolio-item">
                                      <a href="Viterra_Case_Study.html"><img src="images/Viterra.png" alt="Viterra Wide Area Network"></a>
                                      <div class="portfolio-item-title">
                                         <a href="Viterra_Case_Study.html">Viterra</a>
                                         <p>
                                            Wide Area Network
                                            <br><br>
                                         <a id="reg" href="Viterra_Case_Study.html">Read more <i class="icon-double-angle-right"></i></a>
                                         </p>
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Recent work end-->
            <br><br>
            <!-- Latest Posts start -->
            <div class="latest-posts">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title">Latest News</h3>
                     </div>
                     <div class="clearfix"></div>
                     <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1 animate_start">
                        <ul>
                           <li class="">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a href="3G_4G_Cellular_Coverage_News.html"><img alt="3G and 4G Cellular Coverage Solutions" src="images/Comtech_News.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="3G_4G_Cellular_Coverage_News.html">Feb 27th, 2012</a></span>
                                 <h4><a href="3G_4G_Cellular_Coverage_News.html" class="title">3G and 4G Cellular Coverage</a></h4>
                                 <p>Comtech has embarked on a number of DAS projects throughout Saskatchewan.</p>
                                 <a id="reg" href="3G_4G_Cellular_Coverage_News.html">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>

                           <li>
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                     <a id="reg" href="comtech_assists_carriers.html"><img alt="Building a neutral host system in Montréal, QC" src="images/montreal-metro.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="comtech_assists_carriers.html"></a></span>
                                 <h4><a href="comtech_assists_carriers.html" class="title">Comtech Assists Carriers</a></h4>
                                 <p>Comtech Ltd has recently been chosen to assist in building a neutral host system in Montréal, QC.</p>
                                 <a id="reg" href="comtech_assists_carriers.html">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                           <li class="blog-first-el">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a href="Telus_EVDO_Migration_CDMA_to_HSPA_LTE.html"><img alt="TELUS CDMA to HSPA LTE" src="images/TELUS_Shutting_Down_EVDO_CDMA.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="Telus_EVDO_Migration_CDMA_to_HSPA_LTE.html"></a></span>
                                 <h4><a href="Telus_EVDO_Migration_CDMA_to_HSPA_LTE.html" class="title">TELUS Shutting Down EVDO / CDMA Network</a></h4>
                                 <p>TELUS shutting down EVDO / CDMA to make more room for HSPA &amp; LTE.</p>
                                 <a id="reg" href="Telus_EVDO_Migration_CDMA_to_HSPA_LTE.html">Read more <i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                        </ul>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="divider"></div>
               </div>
            </div>
            <!-- Latest Posts End -->
         </div>

         <script src="js/jquery.slides.min.js"></script>
  		<script>
		    $(function(){
		      $("#slideshow").slidesjs({
		        width: 157,
		        height: 55,
		         play: {
			      effect: "slide",
			      interval: 5000,
			      auto: true,
			      restartDelay: 2500
			    },
		        navigation: {
      				active: false
  				}
		      });
		      $("#slideshow2").slidesjs({
		        width: 157,
		        height: 55,
		         play: {
			      effect: "slide",
			      interval: 5000,
			      auto: true,
			      restartDelay: 2500
			    },
		        navigation: {
      				active: false
  				}
		      });
		      $("#slideshow3").slidesjs({
		        width: 157,
		        height: 55,
		         play: {
			      effect: "slide",
			      interval: 5000,
			      auto: true,
			      restartDelay: 2500
			    },
		        navigation: {
      				active: false
  				}
		      });
		      $("#slideshow4").slidesjs({
		        width: 157,
		        height: 55,
		         play: {
			      effect: "slide",
			      interval: 5000,
			      auto: true,
			      restartDelay: 2500
			    },
		        navigation: {
      				active: false
  				}
		      });
		      $("#slideshow5").slidesjs({
		        width: 157,
		        height: 55,
		         play: {
			      effect: "slide",
			      interval: 5000,
			      auto: true,
			      restartDelay: 2500
			    },
		        navigation: {
      				active: false
  				}
		      });
		      $("#slideshow6").slidesjs({
		        width: 157,
		        height: 55,
		         play: {
			      effect: "slide",
			      interval: 5000,
			      auto: true,
			      restartDelay: 2500
			    },
		        navigation: {
      				active: false
  				}
		      });
		    });
		</script>
